*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 #Carousel{
margin-left: 250px;
 }
:root{
    --main-bg: #1e272e;
    --main-color:#0097e6;

}
html{
    font-size: 62.5%;
}
.row
{
    margin: 0;
}
.main_menu{
    color: #000;
    background-color:var(--main-bg);
}
 .navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;

 }
 .navbar li {
    margin-left: 2rem ;
 }
 .navbar a
 {
    color: #fff;
    font-size: 1.8rem;
 }
 .navbar-toggler{
    background-color: grey;
 }
 .main_header_left{
    height: 50rem; 
    display:flex;
    justify-content:center;
    flex-direction:column; 
}
.main_header_left p{
    font-size: 2rem;
}
 
 .main_header_right{
    height: 50rem;
     display:flex;
     justify-content:center;
     flex-direction:column;
 }
 .main_header_left h1{
    font-size: 4 rem;
 }
 #txt-color{
    color: var(--main-color);
 }
 .main_header_left button{
    border: none;
    font-size: 1.4rem;
    padding: 0.8rem 1.8rem;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #fff; 
    outline: none;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px ;
      color: var(--main-color );
}



    @media (max-width:768px)
    {
        .main_header_left{
            height: auto;
            margin: 5rem 0;
        }
        .main_header_right{
            height: auto;
            margin-top : 3rem;
        }
        #Carousel{
            margin-left: auto;
             }
    }
    figure img{
        height: 45rem;
        width: 35rem;
        border-radius: 50rem;
        background-color: #000;
        filter:drop-shadow(0 0.5rem 1rem rgba(0 0 0 0.3));
    }
    #button{
        margin-left: 70%;
    }
    #B{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #foot{
        margin-top: auto;
    }
    .main_content{
        margin-top: 10px;
        display: flex;
         justify-content: left;
         
         background-color: #1e272e;
         border-radius: 10rem;
         width: 70rem;
         margin-left: 27rem;
        }
        #cityName{
            height: 5rem;
            background-color: #1e272e;

          border: 0;
           font-size: 2rem;
           font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
            margin-left: 2rem;
            }
            #submitBtn{
                margin-left: 370px;
                margin-top: 5px;
                margin-bottom: 5px;
                border-radius: 4rem;
                height: 5rem;
                width: 100px;
                font-size: 2rem;
                font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
                background-color: #0097e6;
                border: 0;
            }
            
            footer p{
                font-size:2rem;
                background-color: #fff;
                text-align: center;
                text-transform: capitalize;
                margin:0;
                line-height: 10rem;
                background-color: #1e272e;
                color: #fff;
                height: 100%;
            }
            footer p{
                font-size:2rem;
                background-color: #fff;
                text-align: center;
                text-transform: capitalize;
                margin:0;
                line-height: 10rem;
                background-color: #1e272e;
                color: #fff;
                height: 100%;
            }
            body{
                height: 100vh;
                display: flex;
                flex-direction: column;
                }
                footer
                {   
                    margin-top: auto;
                }
                .size{
                    height: 600px;
                }
                .tempInformation{
              margin-top: 8rem;
               
              background-color: #252f36;
              font-size: small;
                color: rgb(190, 188, 188);
                width: 250px;
                margin-left: 50rem;
                 height: 20rem;
                border: 2px solid #252f36;
                border-radius: 1rem;
                  
            }
            .top_layer{
                margin-top:1px ;
                background-color: #151c20;
                border-radius:1.2rem ;
                height: 50px;
            }
            #day{
                margin-top:  15px;
                display: inline-block;
                 margin-left: 7px;
 
 font-size:1.3rem;               }
            #Date{
                margin-top: 15px;
                display: inline-block;
                margin-left: 140px;
                font-size:1.3rem;
            }
            .main_layer{
                margin-top: 8px;
                font-size: large;
            }
            #temp{
                display: inline-block;
                font-size:35px;
                margin-top:5rem;
                margin-left: 2  px;
            }
            #temp_status{
                display: inline-block;
                font-size:xx-large;
                margin-top:auto;
                margin-left: auto;
            }
            #city_name{
                margin-top: 11px;
            }
             #cityName{
                color: white;
                 

             }
             ::placeholder{
                color: #677b89;
             }
             .data_hider{
                display: none  ;
                visibility: hidden;
                opacity: 0;
             }